* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-size: 10pt;
    font-family: 'Ubuntu Mono', monospace;
    background: black;
    color: white;
    background: url('../img/bg.jpg') center center no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
    color: #f50056;
    font-weight: 400;
}

ul{
    margin: 0;
    padding: 0;
    font-size: 0;
    list-style-type: none;
    font-family: 'Press Start 2P';
}

li{
    font-size: 14px;
    display: inline;
}

header{
    height: auto;
    text-align: center;
}

p{
    font-size: 10pt;
}

i{
    font-size: 9pt;
}

h2{
    border-bottom: 3px #f50056 solid;
    clear: both;
}

h3{
    margin: 0;
    margin-bottom: 8px;
}

.logo{
    width: 1030px;
    padding: 8px;
    margin: 0px auto;
}

#navbar{
    background: rgb(41, 41, 41);
    width: 100%;
}

#menu{
    width: 1000px;
    margin: 0px auto;
}

#menu-items li a{
    display: inline-block;
    color: #f50056; 
    padding: 11px 30px 11px 5px;
    padding: 11px 15px;
    transition: all 0.4s;   
}

#menu-items li a:hover{  
    color: rgb(255, 255, 255); 
    /* background: #f50056; */
}

.wrapper{    
    width: 1000px;
    margin: 0px auto;
    margin-top: 15px;
    margin-bottom: 25px;
    background: rgb(38, 38, 38);
    border-left: #f50056 2px solid;
    border-right: #f50056 2px solid;
    border-top: #f50056 2px solid;
    border-bottom: #f50056 2px solid;
}

#carousel{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    position: relative;
    border-bottom: 2px black solid;
}

#carousel a {
    position: absolute;
    display: block;
    height: 300px;
}

#carousel img {
    position: absolute;
    top: 0;
    left: 0;
    width: 996px;
    height: 298px;
    object-fit: cover;
}

.slide {
    transition: visibility 1.2s, opacity 1s ease-in-out;
}

.carousel-caption {
    padding: 10px;
    bottom: 10%;
    position: absolute;
    color: #fff;
    background: rgba(0,0,0,0.7);
    max-width: 480px;
}

.carousel-caption a {
    position: relative !important;
    font-size: 18pt;
    font-weight: 700;
    height: auto !important;
}

.page-turner{
    font-size: 0;
    position: absolute;
    top: 20px;
    right: 20px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #ee729db4;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.active, .dot:hover {
    background-color: #f50056;
}

.feature{
    background-position: center center;
    background-size: cover;
    height: 180px;
    width: 50%;
    float: left;
    position: relative;
}

.feature a{
    display: block;
    height: 180px;
}

.feature.one{
    border-right: 2px black solid;
}

.feature-caption {
    padding: 10px;
    color: #fff;
    background: rgba(0,0,0,0.7);
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.feature-caption a {
    font-size: 11pt;
    font-weight: 700;
    display: block;
    max-width: 85%;
    height: auto !important;
}

.clearfix{
    clear: both;
}

#columns{
    clear: both;
}

#left-column{
    float: left;
    padding: 0px 10px 15px 10px;
    width: 690px;
}

#article-list{
    padding-bottom: 10px;
}

article{
    min-height: 110px;
    margin-bottom: 8px;
    border-bottom: 2px solid #dedede;
}

.minipic{
    float: left;
    margin-right: 10px;
}

.minipic img{
    height: 97px;
    width: 150px;
}

#right-column{
    float: left;
    width: 280px;
}

/* Redo this */

footer {
    width:100%;
    padding: 25px 0 15px 0;
    background:rgb(16, 16, 16);
    color:rgb(172, 172, 172);
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    text-align: center;
}

footer #menu{
    width: 1000px;
    margin: 0px auto;
}

footer #menu-items li a{
    font-size: 12pt;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    color: rgb(242, 49, 100); 
    padding: 0 10px 0 10px;
    transition: all 0.4s;   
}